:root {
    --color-blanco: red;
    --color-blanco: white;

}

* {
    font-size: 16px;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    list-style: none;

    box-sizing: border-box;

    padding: unset;
    margin: unset;

    outline: unset;
}

.icons {
    padding: 5px 5px;
    height: 56px;
    width: 56px;

}

h1 {
    line-height: 100%;
    font-size: 60px;
    font-weight: 600;
    color: black;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    color: #000;
}

h3 {
    font-size: 19px;
    font-weight: 700;
    color: #000;
    text-align: center;
}

h4 {
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

.color {
    color: red;

    text-size-adjust: cover;
    font-size: 60px;
    font-weight: 600;
}



/* .button {
    padding: 15px 25px;
    border-radius: 5px;
    border: solid 2px transparent;
    font-family: 'Segoe UI', 'Times New Roman', Times, serif;
    box-shadow: 5px 5px 15px var(--color-shadow);
    color: white;
    font-size: 19px;
    font-weight: 500;
    background-color: red;
} */

.button__nav {
    padding: 15px 35px;
    border-radius: 5px;
    border: solid 2px transparent;
    font-family: 'Segoe UI', 'Times New Roman', Times, serif;
    box-shadow: 5px 5px 15px var(--color-shadow);
    color: white;
    font-size: 16px;
    font-weight: 500;
    background-color: white;
}


.navbar__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar__nav__list {
    display: flex;
    gap: 15px;
    padding: 32px 30px 32px 30px;
}


.color {

    color: red;
}



.button {
    padding: 15px 25px;
    border-radius: 5px;
    border: solid 2px transparent;
    font-family: 'Segoe UI', 'Times New Roman', Times, serif;
    box-shadow: 5px 5px 15px var(--color-shadow);
    color: white;
    font-size: 19px;
    font-weight: 500;
    background-color: red;
}

.button__nav {
    padding: 15px 35px;
    border-radius: 5px;
    border: solid 2px transparent;
    font-family: 'Segoe UI', 'Times New Roman', Times, serif;
    box-shadow: 5px 5px 15px var(--color-shadow);
    color: white;
    font-size: 16px;
    font-weight: 500;
    background-color: white;
}


.navbar__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar__nav__list {
    display: flex;
    gap: 15px;
    padding: 32px 30px 32px 30px;
}

.jumbotrom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 120px;
    background-color: #f0f0f0;
}
.jumbotrom img {
    max-height: 600px;
}

.izquierda {
    text-align: left;
}

.derecha {
    max-width: 100%;
    height: auto;



}

.textoju {

    justify-content: center;
}


.mujer {
    float: right;
    padding-top: -300px;
}

.flex {
    display: flex;
    justify-content: center;

}

.pp {
    color: white;
}

.etiquetas {
    display: flex;
    padding-top: 5px;
    flex: 30px;
    align-items: center;

}

.margenes {
    margin: 20px 20px 20px 20px;
}

.fondo {

    background-color: #1F1F1F;

    color: #f0f0f0;

}

.item {
    flex: 1;
}





.ropa {
    display: flex;
    border: solid black;
    margin-top: 20px;
    padding-left: 30px;
    flex-grow: 1;
    justify-content: center;

}


.imagenes {
    width: 20vw;
    height: 50vh;

    margin-top: 20px;
}

.ventas {

    display: flex;
    max-width: 99%;
    max-height: 99%;

    gap: 30px;

}

.boton {
    padding: 10px 10px;
    border-radius: 5px;
    border: solid 2px transparent;
    font-family: 'Segoe UI', 'Times New Roman', Times, serif;
    box-shadow: 5px 5px 15px var(--color-shadow);
    color: white;
    font-size: 19px;
    font-weight: 500;
    background-color: red;
    height: 10vh;
    width: 20vw;

}

.conte {

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100vh;
    width: 33vw;
    padding: 20px 40px 20px 20px;
    margin: 20px 40px 20px 20px;
}

.boton2 {
    padding: 15px 15px;
    border-radius: 5px;
    border: solid 8px red;
    font-family: 'Segoe UI', 'Times New Roman', Times, serif;
    box-shadow: 5px 5px 5px var(--color-shadow);
    color: rgb(228, 18, 18);
    font-size: 19px;
    font-weight: 500;
    background-color: red;

}

.footer {

    padding-left: 600px;


}

.redsocil {
    display: flex;
    align-items: center;


}

.foot__img {
    height: 5vh;
    width: 5vw;
    align-items: center;
    justify-content: right;


}

.foot__imgc {
    height: 5vh;
    width: 5vw;
    align-items: center;
    justify-content: center;


}

.footer__redsociales {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 50px;
}

.descu {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    justify-content: left;
    margin-right: 600px;
}

.let {
    color: black;
    font-size: 76px;
    font-weight: 700;
    padding-left: 30px;
}

.ppp {
    padding-left: 30px;
    text-align: left;
}

.rojo {
    color: #DF0000;
    font-size: 66px;
    font-weight: 700;
}

.naranja {
    color: #FD3E02;
    font-size: 66px;
    font-weight: 700;
}

.imagen3 {

    float: right;
    width: 40vw;
    height: 85vh;

}

.contened {
    display: flex;

    text-align: left;
    padding-top: 90px;
    height: 100vh;
    width: 98vw;
    padding-left: 80px;
}

.imagen4 {
    float: inline-end;
    width: 80vw;
    height: 85vh;
}

.centrar {
    padding-top: 80px;
    padding-bottom: 20px;
    text-align: center;
    text-justify: left;

    height: 25vh;
    width: 80vw;
    text-justify: left;
}

.esta {
    color: #DF0000;
    font-size: 66px;
    font-weight: 700;
}


.text {
    padding: top 50px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    align-items: end;
    text-align: center;
}

.conenvio {

    text-align: center;
    height: 80vh;
    width: 98vw;

}

.enviotex {
    margin-top: 60px;
    padding-top: 80px;

    text-align: center;
    justify-content: left;
    padding-left: 80px;
    width: 50vw;
    color: #000;
    font-size: 24px;
    font-weight: 700;

}

.envi {
    color: #000;
    font-size: 19px;
    font-weight: 700;
}

.par {
    text-align: center;
    margin-top: 40px;
    margin-left: 30px;
    width: 50vw;
    height: 60vh;
    color: #000;
    font-size: 19px;
    font-weight: 500;

    padding: 0 120px 0 120px;
}

.envioimg {
    float: right;
    justify-content: right;
    width: 30vw;
    height: 85vh;
    padding-bottom: 60px;
}